@model ChildGlucoCare.Web.ViewModels.Statistics.BloodGlucoseReportViewModel

@{
    this.ViewData["Title"] = "Weekly Blood Glucose report";
}

<h1 class="text-center">Blood glucose report for the period  @Model.PeriodStart- @DateTime.Today</h1>

<div class="table-bordered">
    <table class="table" style="width:100%">
        <tr>
            <th>Blood glucose records</th>
            <th>Blood glucose High</th>
            <th>Blood glucose Normal</th>
            <th>Blood glucose Low</th>
            <th>Blood glucose Average value</th>
        </tr>
        <tr class="table-info">
            <th class="text-danger">@Model.BloodGlucoseRecords</th>
            <th class="text-danger">@Model.HighPercentage</th>
            <th class="text-success">@Model.NormalPercentage</th>
            <th class="text-danger">@Model.LowPercentage</th>
            <th>@Model.AvgBloodGlucose</th>
        </tr>
    </table>
</div>

<!--* Card header *-->
<!--* Card body *-->
<!--* Card init *-->
<div class="card">

    <!-- Card header -->
    <div class="card-header">

        <!-- Title -->

        <h5 class="h3 mb-0">Bars chart</h5>

    </div>

    <!-- Card body -->
    <div class="card-body">


        <div class="chart">
            <line-chart :height="350"
                        :chart-data="salesChart.chartData">
            </line-chart>
        </div>
            <!-- Chart wrapper -->
            <canvas id="chart-bars" class="chart-canvas"></canvas>
        </div>



    </div>




</div>

@section Scripts {
    <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>
}

