@model ChildGlucoCare.Web.ViewModels.Statistics.StatisticInfoViewModel

@{
    this.ViewData["Title"] = "Blood Glucose statistic";
}

@{
    var date = @Model.YesterdayBloodGlucoses.Select(x => x.Date.Date).FirstOrDefault();
}

<h1 class="text-center">Blood glucoses at @date</h1>

<div class="table-bordered">
    <table class="table" style="width:100%">
        <tr>
            <th>Date</th>
            <th>Glucose Level</th>
            <th>Blood Glucose Status</th>
        </tr>
        @foreach (var bloodGlucose in this.Model.YesterdayBloodGlucoses)
        {
            @if (bloodGlucose.BloodGlocoseStatus.ToString() == "High" || bloodGlucose.BloodGlocoseStatus.ToString() == "Low")
            {
                <tr class="table-danger">
                    <th>@bloodGlucose.Date</th>
                    <th>@bloodGlucose.CurrentGlucoseLevel</th>
                    <th>@bloodGlucose.BloodGlocoseStatus</th>
                </tr>
            }
            @if (bloodGlucose.BloodGlocoseStatus.ToString() == "Normal")
            {
                <tr class="table-success">
                    <th>@bloodGlucose.Date</th>
                    <th>@bloodGlucose.CurrentGlucoseLevel</th>
                    <th>@bloodGlucose.BloodGlocoseStatus</th>
                </tr>
            }
        }
    </table>
</div>
