@model ChildGlucoCare.Web.ViewModels.Statistics.StatisticInfoViewModel

@{
    this.ViewData["Title"] = "Sport activity statistic";
}

@{
    var date = @Model.YesterdaySportActivities.Select(x => x.Date).FirstOrDefault();
}

<h1 class="text-center">Made insulin and etaen BEU at @date.Date</h1>
<div class="table-bordered">
    <table class="table" style="width:100%">
        <tr>
            <th>Date</th>
            <th>Sport</th>
            <th> Activity level</th>
            <th>Duration</th>

        </tr>
        @foreach (var sport in this.Model.YesterdaySportActivities)
        {
            <tr>
                <th>@sport.Date.Date</th>
                <th>@sport.SportName</th>
                <th>@sport.ActivityLevel</th>
                <th>@sport.Duration</th>
            </tr>
        }
    </table>

</div>


